* {margin: 0; padding: 0;}

/* h1{
    font-family: Verdana;
    font-size: 50px;
    text-align: center;
    position: absolute;
    display: inline;
    top: 50vh;
    left: 50vw;
    bottom: 50vh;
    right: -50vw;
    /* transform: translate(-50%, -50%) 
} */

html, body {
    margin: 0;
    padding: 0;
  }
  
  #qrcode {
    width:400px;
    height:400px;

  }
  
/* canvas {
  display: none;
}

img {
  display: none;
} */

/*
#container {
  display: fixed;
  left: 0;
  top: 0;
}
*/

.invisible-corner {
  position: absolute;
  background: white;
  width: 800px;
  height: 800px;
  z-index: 1;
}


/* .rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
} */
