@font-face{
    font-family: 'Gingham';
    src: url('Gingham.woff2') format('woff2');
}

html{
    font-family: 'Gingham', sans-serif;
    padding: 50px;
}

h1{
    font-variation-settings: "wght" 900, "wdth" 200;
    font-size: 100px;

}

p{
    font-variation-settings: "wght" 100, "wdth" 100;
    font-size: 20px;

}