/*body{
    margin: 0;
    height: 100vh;
    /*cursor: url('/css-portfolio/assets/a2.png'), auto;
    background: lightblue;
}

.cursor{
    width: 20px;
    height: 20px;
    border: 1px solid red;
}
*/