*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-family: 'Uncial Antiqua', cursive;
}

header{
    padding: 10vmin;
    background:maroon;
    border: 20px red solid;
    border-radius: 50px;
    margin-bottom: 2vmin;
    text-align: center;
    color: white;
}

header h1{
    font-size:10vmin;
}

.wrapper{
     width: 100vw;
     max-width: 1200px;
     height: 100vh;
     margin: 0 auto;


}

.gallery{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

}

.gallery__item{
    margin: 2vmin;

}