html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }

  body{
      font-family: Arial;
      color: white;

  }

  h1{
      font-size: 50px;
      text-align: center;
  }

  
  #sketch-parent{
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;

  }