body{
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 100px;
  }
  
  ::-webkit-scrollbar-track {
    border: 7px solid blueviolet;
    background: red;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }